### 딥러닝 모델 만들어보기

### colab에서 시작하기
<a href="https://colab.research.google.com/github/frontier1020/colabstart/blob/master/DL01_03_DL_Model_v10.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [5]:
import numpy as np
import sklearn 
import matplotlib 
import pandas as pd
import matplotlib.pyplot as plt
import tensorflow as tf 
import keras

In [6]:
from keras.utils import np_utils 
from keras.datasets import mnist 
from keras.models import Sequential 
from keras.layers import Dense, Activation

In [7]:
data = pd.read_csv("train_modified.csv")
data.head()

,PassengerId,Survived,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked
0,1,0,3,"Braund, Mr. Owen Harris",male,22.0,1,0,A/5 21171,7.2500,NaN,S
1,2,1,1,"Cumings, Mrs. John Bradley (Florence Briggs Th...",female,38.0,1,0,PC 17599,71.2833,C85,C
2,3,1,3,"Heikkinen, Miss. Laina",female,26.0,0,0,STON/O2. 3101282,7.9250,NaN,S
3,4,1,1,"Futrelle, Mrs. Jacques Heath (Lily May Peel)",female,35.0,1,0,113803,53.1000,C123,S
4,5,0,3,"Allen, Mr. William Henry",male,35.0,0,0,373450,8.0500,NaN,S

In [8]:
print(data.shape)
print(data.columns)

(891, 12)
Index(['PassengerId', 'Survived', 'Pclass', 'Name', 'Sex', 'Age', 'SibSp',
       'Parch', 'Ticket', 'Fare', 'Cabin', 'Embarked'],
      dtype='object')

In [9]:
input_col = ['Pclass', 'Age', 'SibSp', 'Parch']
labeled_col = ['Survived']

In [10]:
X = data[ input_col ]
Y = data[ labeled_col ]

In [11]:
seed = 0
np.random.seed(seed)

### 딥러닝 구조 결정
* 케라스 라이브러리 중에서 Sequential 함수는 딥러닝의 구조를 한층 한층 쉽게 쌓아올릴 수 있다.
* Sequential() 함수 선언 후, model.add() 함수를 사용한다
* input_dim 입력층 노드
* activation - 활성화 함수 선언 (relu, sigmoid)
* Dense() 함수를 이용하여 각 층에 세부 내용을 설정해 준다.

In [12]:
model = Sequential()
model.add(Dense(16, input_dim=4, activation='relu')) # 컬럼 4
model.add(Dense(1, activation='sigmoid'))  # 출력층 - 생사 예측 확률

WARNING:tensorflow:From C:\Users\front\Anaconda3\lib\site-packages\tensorflow_core\python\ops\resource_variable_ops.py:1630: calling BaseResourceVariable.__init__ (from tensorflow.python.ops.resource_variable_ops) with constraint is deprecated and will be removed in a future version.
Instructions for updating:
If using Keras pass *_constraint arguments to layers.

### 딥러닝 실행
* 전체 데이터를 10번 반복
* w의 업데이트 시킬 때, 한번 사용 데이터 10개

In [13]:
%%time 

model.compile(loss='binary_crossentropy', optimizer='adam', metrics=['accuracy'])
model.fit(X, Y, epochs=10, batch_size=10)

WARNING:tensorflow:From C:\Users\front\Anaconda3\lib\site-packages\tensorflow_core\python\ops\nn_impl.py:183: where (from tensorflow.python.ops.array_ops) is deprecated and will be removed in a future version.
Instructions for updating:
Use tf.where in 2.0, which has the same broadcast rule as np.where
WARNING:tensorflow:From C:\Users\front\Anaconda3\lib\site-packages\keras\backend\tensorflow_backend.py:422: The name tf.global_variables is deprecated. Please use tf.compat.v1.global_variables instead.

Epoch 1/10
891/891 [==============================] - 0s 339us/step - loss: 5.8235 - accuracy: 0.3737
Epoch 2/10
891/891 [==============================] - 0s 120us/step - loss: 0.8286 - accuracy: 0.5533
Epoch 3/10
891/891 [==============================] - 0s 123us/step - loss: 0.6596 - accuracy: 0.6150
Epoch 4/10
891/891 [==============================] - 0s 128us/step - loss: 0.6505 - accuracy: 0.6083
Epoch 5/10
891/891 [==============================] - 0s 129us/step - loss: 0.6438 - accuracy: 0.6027
Epoch 6/10
891/891 [==============================] - 0s 128us/step - loss: 0.6388 - accuracy: 0.6240
Epoch 7/10
891/891 [==============================] - 0s 126us/step - loss: 0.6351 - accuracy: 0.6094
Epoch 8/10
891/891 [==============================] - 0s 124us/step - loss: 0.6322 - accuracy: 0.6274
Epoch 9/10
891/891 [==============================] - 0s 122us/step - loss: 0.6345 - accuracy: 0.6274
Epoch 10/10
891/891 [==============================] - 0s 125us/step - loss: 0.6340 - accuracy: 0.6308
Wall time: 1.84 s

### 결과 출력

In [14]:
model.evaluate(X, Y)

891/891 [==============================] - 0s 46us/step

[0.6329012960028301, 0.6475870013237]

In [15]:
print("\n Accuracy : %.4f" % (model.evaluate(X, Y)[1]))

891/891 [==============================] - 0s 25us/step

 Accuracy : 0.6476

## 실습해보기
* epochs를 늘려보기(10,50,100)
* batch_size를 변경해보기(10, 30, 50)
* 각각의 Accuracy를 기록해보기