### 기본 라이브러리를 활용한 캐글 대회 참석(나의 첫 모델 만들기)
* 데이터 불러오기
* 데이터 탐색
* 데이터 모델 만들기

### 준비

* 캐글 데이터 셋을 다운로드 받는다.
* site : https://www.kaggle.com/c/titanic/data
* 데이터 올리기

### 데이터 설명

* Survival 생존 여부 Survival. 0 = No, 1 = Yes 
* Pclass 티켓의 클래스 Ticket class. 1 = 1st, 2 = 2nd, 3 = 3rd 
* Sex 성별(Sex) 남(male)/여(female) 
* Age 나이(Age in years.) 
* SibSp 함께 탑승한 형제와 배우자의 수 /siblings, spouses aboard the Titanic. 
* Parch 함께 탑승한 부모, 아이의 수 # of parents / children aboard the Titanic. 
* Ticket 티켓 번호(Ticket number) (ex) CA 31352, A/5. 2151 
* Fare 탑승료(Passenger fare) 
* Cabin 객실 번호(Cabin number) 
* Embarked 탑승 항구(Port of Embarkation) C = Cherbourg, Q = Queenstown, S = Southampton

In [1]:
import pandas as pd

In [2]:
train = pd.read_csv("train.csv")
test = pd.read_csv("test.csv")

In [6]:
# 리눅스 환경이라면(구글 콜랩) !ls 가능.
!dir

 C 드라이브의 볼륨에는 이름이 없습니다.
 볼륨 일련 번호: 6CB1-CD77

 C:\Users\front\Documents\00_TOTO_MLDL_CLASS 디렉터리

2020-02-17  오후 03:39    <DIR>          .
2020-02-17  오후 03:39    <DIR>          ..
2020-02-17  오후 01:57    <DIR>          .ipynb_checkpoints
2020-02-17  오후 03:39           583,706 DL01_01_Python_Library_v10.ipynb
2020-02-17  오후 01:57            11,255 DL01_02_FirstModel_v10.ipynb
2020-02-17  오후 01:57            11,244 DL01_03_DL_Model_v10.ipynb
2020-02-17  오후 01:57            11,295 DL02_01_FirstModel_v10.ipynb
2020-02-17  오후 01:57            51,924 DL02_02_Keras_MNIST.ipynb
2020-02-01  오후 05:24             9,045 DL02_03_TF_Basic.ipynb
2020-02-01  오후 05:24            13,669 DL02_04_TF_Bike.ipynb
2020-02-01  오후 05:24            12,240 DL02_04_TF_MNIST.ipynb
2020-02-01  오후 05:24         1,547,925 DL03_01_BasicKnoledge.ipynb
2020-02-01  오후 05:24           171,628 DL03_02_DROPOUT.ipynb
2020-02-01  오후 05:24           763,648 DL03_03_CNN_20200122.ipynb
2020-02-01  오후 05:24             6,660 DL03_04_tf20_start.ipynb
2020-02-01  오후 05:24           167,445 DL03_05_tf20_cifar10.ipynb
2020-02-01  오후 05:24            10,268 DL03_06_CNN_Start.ipynb
2020-02-01  오후 05:24           756,700 DL03_07_CNN02.ipynb
2020-02-01  오후 05:24            63,648 DL03_08_CNN03.ipynb
2020-02-01  오후 05:24            35,862 DL04_01_AutoEncoder_Basic.ipynb
2020-02-01  오후 05:27            20,287 DL04_02_GAN01_BASIC_v10.ipynb
2020-02-17  오후 03:10         6,847,926 dog.jpg
2020-02-01  오후 05:24             3,258 gender_submission.csv
2020-02-17  오후 03:35             4,009 iris.csv
2020-02-17  오후 03:35             8,728 iris.xlsx
2020-02-17  오후 03:34           133,049 Plot_without_axes.png
2020-02-01  오후 05:24                42 README.md
2020-02-01  오후 05:24           149,355 sampleSubmission_bike.csv
2020-02-01  오후 05:24            28,629 test.csv
2020-02-01  오후 05:24           330,350 test_bike.csv
2020-02-01  오후 05:24            61,194 train.csv
2020-02-01  오후 05:24           659,240 train_bike.csv
2020-02-01  오후 05:24            63,604 train_modified.csv
              30개 파일          12,537,833 바이트
               3개 디렉터리  100,378,677,248 바이트 남음

In [7]:
print(train.shape) 
print(test.shape)

(891, 12)
(418, 11)

In [8]:
print(train.columns) 
print(test.columns)

Index(['PassengerId', 'Survived', 'Pclass', 'Name', 'Sex', 'Age', 'SibSp',
       'Parch', 'Ticket', 'Fare', 'Cabin', 'Embarked'],
      dtype='object')
Index(['PassengerId', 'Pclass', 'Name', 'Sex', 'Age', 'SibSp', 'Parch',
       'Ticket', 'Fare', 'Cabin', 'Embarked'],
      dtype='object')

In [9]:
train.isnull().sum()

PassengerId      0
Survived         0
Pclass           0
Name             0
Sex              0
Age            177
SibSp            0
Parch            0
Ticket           0
Fare             0
Cabin          687
Embarked         2
dtype: int64

In [10]:
test.isnull().sum()

PassengerId      0
Pclass           0
Name             0
Sex              0
Age             86
SibSp            0
Parch            0
Ticket           0
Fare             1
Cabin          327
Embarked         0
dtype: int64

### 모델 생성 후, 제출

In [11]:
from sklearn.neighbors import KNeighborsClassifier

In [12]:
sel = ['Pclass', 'SibSp', 'Parch' ] 
# 학습에 사용될 데이터 준비 X_train, y_train 
X_train = train[sel] 
y_train = train['Survived'] 
X_test = test[sel]

In [13]:
model = KNeighborsClassifier() 
model.fit(X_train, y_train) 
predictions = model.predict(X_test) 
predictions[:15]

array([0, 0, 0, 0, 1, 0, 0, 1, 0, 0, 0, 1, 1, 0, 1], dtype=int64)

In [14]:
sub = pd.read_csv("gender_submission.csv") 
print(sub.columns)
sub[sub.Survived < 0 ]

Index(['PassengerId', 'Survived'], dtype='object')

Empty DataFrame
Columns: [PassengerId, Survived]
Index: []

In [15]:
sub['Survived'] = predictions 
sub.head(10)

   PassengerId  Survived
0          892         0
1          893         0
2          894         0
3          895         0
4          896         1
5          897         0
6          898         0
7          899         1
8          900         0
9          901         0

In [16]:
sub.to_csv("knn_first_model.csv", index=False)

### 제출
* 만들어진 knn_first_model.csv 파일을 다운로드 후, 
* kaggle 사이트 접속 후, (https://www.kaggle.com/c/titanic)
* Submit Predictions 버튼을 선택 후, csv파일 제출
* 결과 확인

### REF
* scikit-learn 사이트 : https://scikit-learn.org/stable/index.html
* 판다스 10분(데잇걸즈) : https://dataitgirls2.github.io/10minutes2pandas/