### 딥러닝 모델 만들어보기

In [22]:
import numpy as np
import sklearn 
import matplotlib 
import pandas as pd
import matplotlib.pyplot as plt

import tensorflow as tf 
import keras

In [23]:
from keras.utils import np_utils 
from keras.datasets import mnist 
from keras.models import Sequential 
from keras.layers import Dense, Activation

In [24]:
data = pd.read_csv("train_modified.csv")
data.head()

,PassengerId,Survived,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked
0,1,0,3,"Braund, Mr. Owen Harris",male,22.0,1,0,A/5 21171,7.2500,NaN,S
1,2,1,1,"Cumings, Mrs. John Bradley (Florence Briggs Th...",female,38.0,1,0,PC 17599,71.2833,C85,C
2,3,1,3,"Heikkinen, Miss. Laina",female,26.0,0,0,STON/O2. 3101282,7.9250,NaN,S
3,4,1,1,"Futrelle, Mrs. Jacques Heath (Lily May Peel)",female,35.0,1,0,113803,53.1000,C123,S
4,5,0,3,"Allen, Mr. William Henry",male,35.0,0,0,373450,8.0500,NaN,S

In [25]:
print(data.shape)
print(data.columns)

(891, 12)
Index(['PassengerId', 'Survived', 'Pclass', 'Name', 'Sex', 'Age', 'SibSp',
       'Parch', 'Ticket', 'Fare', 'Cabin', 'Embarked'],
      dtype='object')

In [26]:
input_col = ['Pclass', 'Age', 'SibSp', 'Parch']
labeled_col = ['Survived']

In [27]:
X = data[ input_col ]
Y = data[ labeled_col ]

In [28]:
seed = 0
np.random.seed(seed)

### 딥러닝 구조 결정
* 케라스 라이브러리 중에서 Sequential 함수는 딥러닝의 구조를 한층 한층 쉽게 쌓아올릴 수 있다.
* Sequential() 함수 선언 후, model.add() 함수를 사용한다
* input_dim 입력층 노드
* activation - 활성화 함수 선언 (relu, sigmoid)
* Dense() 함수를 이용하여 각 층에 세부 내용을 설정해 준다.

In [29]:
model = Sequential()
model.add(Dense(16, input_dim=4, activation='relu')) # 컬럼 4
model.add(Dense(1, activation='sigmoid'))  # 출력층 - 생사 예측 확률

### 딥러닝 실행
* 전체 데이터를 10번 반복
* w의 업데이트 시킬 때, 한번 사용 데이터 10개

In [30]:
%%time 

model.compile(loss = 'mean_squared_error', optimizer='adam', metrics=['accuracy'])
model.fit(X, Y, epochs=10, batch_size=10)

Epoch 1/10
891/891 [==============================] - 0s 369us/step - loss: 0.2941 - accuracy: 0.6195
Epoch 2/10
891/891 [==============================] - 0s 308us/step - loss: 0.2650 - accuracy: 0.5690
Epoch 3/10
891/891 [==============================] - 0s 240us/step - loss: 0.2518 - accuracy: 0.6139
Epoch 4/10
891/891 [==============================] - 0s 250us/step - loss: 0.2453 - accuracy: 0.6397
Epoch 5/10
891/891 [==============================] - 0s 308us/step - loss: 0.2382 - accuracy: 0.6420
Epoch 6/10
891/891 [==============================] - 0s 365us/step - loss: 0.2330 - accuracy: 0.6420
Epoch 7/10
891/891 [==============================] - 0s 265us/step - loss: 0.2284 - accuracy: 0.6341
Epoch 8/10
891/891 [==============================] - 0s 230us/step - loss: 0.2247 - accuracy: 0.6532
Epoch 9/10
891/891 [==============================] - 0s 227us/step - loss: 0.2222 - accuracy: 0.6330
Epoch 10/10
891/891 [==============================] - 0s 292us/step - loss: 0.2215 - accuracy: 0.6510
CPU times: user 3.36 s, sys: 406 ms, total: 3.77 s
Wall time: 3.34 s

### 결과 출력

In [31]:
model.evaluate(X, Y)

891/891 [==============================] - 0s 210us/step

[0.21848444286085808, 0.6588103175163269]

In [32]:
print("\n Accuracy : %.4f" % (model.evaluate(X, Y)[1]))

891/891 [==============================] - 0s 64us/step

 Accuracy : 0.6588

## 실습해보기
* epochs를 늘려보기(10,50,100)
* batch_size를 변경해보기(10, 30, 50)
* 각각의 Accuracy를 기록해보기